<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    



    <% if(  isPat  == 1 ) {%>
        <form  action = "<%= postURL%>"   method="POST" >
            <p><%= patient%></p>
            <img src= "data:<%= image.contentType %>;base64,<%= image.data %>">
        
            
            
            <textarea name="comment" cols="30" rows="10">Your application is being verified successfully</textarea>

            <button type="submit" name="submit" value="success$<%= patient.email %>" >Success</button>
            <button type="submit" name="submit" value="failure$<%= patient.email %>" >Failure</button>
        </form>
    <%}else {%>
        <form  action = "<%= postURL%>"   method="POST" >
            <p><%= patient%></p>
            <img src= "data:<%= image.contentType %>;base64,<%= image.data %>">
        
            
            
            

            <p>certs</p>

            <% certs.forEach( cert => { %>
                <img src= "data:<%= cert.contentType %>;base64,<%= cert.data %>">
            <% }); %>



            <textarea name="comment" cols="30" rows="10">Your application is being verified successfully</textarea>
            <button type="submit" name="submit" value="success$<%= patient.email %>" >Success</button>
            <button type="submit" name="submit" value="failure$<%= patient.email %>" >Failure</button>
        </form>
            
    <%}%>
   
</body>
</html>