<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <% if(  isPat  == 1 ) {%>
        
            <p><%= patient%></p>
            <img src= "data:<%= image.contentType %>;base64,<%= image.data %>">
        
            
    <%}else {%>
            <p><%= patient%></p>
            <img src= "data:<%= image.contentType %>;base64,<%= image.data %>">
            <p>certs</p>

            <% certs.forEach( cert => { %>
                <img src= "data:<%= cert.contentType %>;base64,<%= cert.data %>">
            <% }); %>
            
    <%}%>
   
</body>
</html>